[tool.poetry]
name = "ibis-server"
version = "0.4.5"
description = ""
authors = ["Canner <dev@cannerdata.com>"]
readme = "README.md"
packages = [{ include = "app" }]

[tool.poetry.dependencies]
python = ">=3.11,<3.12"
fastapi = "0.111.0"
pydantic = "2.6.4"
uvicorn = {extras = ["standard"], version = "0.29.0"}
ibis-framework = {extras = ["bigquery", "postgres", "snowflake"], version = "9.0.0"}
google-auth = "2.29.0"
httpx = "0.27.0"
python-dotenv = "1.0.1"
orjson = "3.10.3"

[tool.poetry.group.dev.dependencies]
pytest = "8.2.0"
testcontainers = {extras = ["postgres"], version = "4.5.0"}
sqlalchemy = "2.0.30"
pandas = "2.2.2"

[tool.pytest.ini_options]
addopts = "--strict-markers"
markers = [
    "postgres: mark a test as a postgres test",
]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
