fastapi==0.110.0
pydantic==2.6.4
uvicorn[standard]==0.29.0
ibis-framework[bigquery]==9.0.0
ibis-framework[postgres]==9.0.0
ibis-framework[snowflake]==9.0.0
google-auth==2.29.0
pytest==8.2.0
pytest-mock==3.14.0
httpx==0.27.0
pytest-bigquery-mock==0.1.1
