
*.iml
*.ipr
*.iws
target/
**/.idea
.run
.DS_Store
.classpath
.settings
.project
*~
*.class
.checkstyle
.mvn/timing.properties
.mvn/maven.config
wren-server/etc
mcp-server/workspace/*
!mcp-server/workspace/.gitkeep
/**/var/
__pycache__/
venv/
**/.env*
**/*.so
